.public-propertyListing {
	overflow: hidden;
	
	.holder {
		overflow: hidden;
		padding: 0 0 10px;
		
		.searchResult-counter {
			float: left;
			max-width: 500px;
		}
		.sortBy {
			@extend %listreset;
			@include align-reset(middle,14,17);
			float: right;
			
			li {
					padding: 0 10px;
					margin: 0 0 10px;
			}
		}
	}
	.property-posts {
		overflow: hidden;
		
		.post {
			@extend %clearfix;
			background: $index-white;
			border-bottom: 2px solid $orange;
			padding:15px;
			margin: 0 0 30px;
			position: relative;	
			
			&:before {
				position: absolute;
				bottom: -2px;
				left: 0;
				right: 0;
				border-radius: 100%;
				height: 50px;
				box-shadow: 0 10px 12px -9px rgba(0, 0, 0, 0.8);
				content: '';
				z-index: -1;
			}
			
			.img-holder {
				float: left;
				width: 250px;
				
				a {
					display: block;
					border: 1px solid rgba($black, 0.5);
				}
				
				img{
					@include img-res;
					max-height: 190px;
					min-height: 190px;
				}
			}
			.caption {
				overflow: hidden;
				padding: 0 0 0 20px;
				
				.post-heading {
					@include font(20,22);
					color: $defualt-blue;
					display: block;
					padding: 0 0 10px;
					
					a{
						@include align(top);
						color: $defualt-blue;
						text-decoration: none;
						
						&:hover {
							color: $green;
						}
					}
				}
				address {
					position: relative;
					font-style: normal;
					margin: 0;
					padding: 0 0 15px;
					display: block;
					@include font(14,17);
				}
				.holder { overflow: hidden;}
				.quick-links,
				.property-details {
					@include font(12,15);
					@extend %listreset;
					text-transform: capitalize;
					margin: 0 0 20px;
					
					li{ margin: 0 0 10px;}
				}
				.quick-links {
					@include align-reset(top,16,20);
					margin: 0 -10px;
					float: left;
					
					li {
						padding: 0 10px;
						
						a{
							display: block;
							text-decoration: none;
							color: $mix-black;
							border: 1px solid $mix-black;
							padding: 10px 20px;
							transition: color 0.4s ease, border 0.4s ease, background 0.4s ease;
							-webkit-transition: color 0.4s ease, border 0.4s ease, background 0.4s ease;
							-moz-transition: color 0.4s ease, border 0.4s ease, background 0.4s ease;
							-ms-transition: color 0.4s ease, border 0.4s ease, background 0.4s ease;
							
							&:hover{
								color: $white;
								border-color: $white;
								background: $green;
							}
						}
					}
				}
				.state-logo {
					float: right;
					overflow: hidden;
					@include squar(80px,80px);
					
					a{ display: block;}
					
					img{ @include img-res;}
				}
			}
		}
	}
}