.public-propertyListing {
	overflow: hidden;
	
	.holder {
		overflow: hidden;
		padding: 0 0 10px;
		
		.searchResult-counter {
			float: left;
			max-width: 500px;
			
			@include media('<desktop'){
				@include font(13,16);
				padding: 10px 0 0;
			}
			@include media('<tablet'){
				float: none;
				display: block;
				width: 100%;
				text-align: center;
				padding: 0 0 10px;
			}
		}
		.sortBy {
			@extend %listreset;
			@include align-reset(middle,14,17);
			float: right;
			
			
			@include media('<desktop'){
				@include align-reset(middle,13,16);
			}
			
			@include media('<tablet'){
				float: none;
				width: 100%;
				overflow: hidden;
				text-align: center;
			}
			
			li {
					padding: 0 10px;
					margin: 0 0 10px;
			}
		}
	}
	.property-posts {
		overflow: hidden;
		
		.post {
			@extend %clearfix;
			background: $index-white;
			border-bottom: 2px solid $orange;
			padding:15px;
			margin: 0 0 30px;
			position: relative;	
			
			&:before {
				position: absolute;
				bottom: -2px;
				left: 0;
				right: 0;
				border-radius: 100%;
				height: 50px;
				box-shadow: 0 10px 12px -9px rgba(0, 0, 0, 0.8);
				content: '';
				z-index: -1;
			}
			
			.img-holder {
				float: left;
				width: 250px;
				
				@include media('<widescreen'){
					width: 200px;
				}
				
				@include media('<desktop'){
					width: 150px;
					margin: 50px 0 0;
				}
				
				@include media('<tablet'){
					float: none;
					overflow: hidden;
					margin: 0 auto 10px;
				}
				
				a {
					display: block;
					border: 1px solid rgba($black, 0.5);
				}
				
				img{
					@include img-res;
					max-height: 190px;
					min-height: 190px;
					
					@include media('<widescreen'){
						max-height: 170px;
						min-height: 170px;
					}
					
					@include media('<desktop'){
						max-height: 140px;
						min-height: 140px;
					}
					
					@include media('<tablet'){
						max-height: 130px;
						min-height: 130px;
					}
				}
			}
			.caption {
				overflow: hidden;
				padding: 0 0 0 20px;
				
				@include media('<widescreen'){
					padding: 0 0 0 15px;
				}
				
				@include media('<tablet'){
					padding: 0;
				}
				
				.post-heading {
					@include font(20,22);
					color: $defualt-blue;
					display: block;
					padding: 0 0 10px;
					
					@include media('<tvscreen'){
						@include font(18,22);
					}
					
					@include media('<widescreen'){
						@include font(16,20);
					}
					
					@include media('<widescreen'){
						@include font(14,18);
					}
					
					@include media('<tablet'){
						@include font(13,16);
					}
					
					a{
						@include align(top);
						color: $defualt-blue;
						text-decoration: none;
						
						&:hover {
							color: $green;
						}
					}
				}
				address {
					position: relative;
					font-style: normal;
					margin: 0;
					padding: 0 0 15px;
					display: block;
					@include font(14,17);
					
					@include media('<widescreen'){
						@include font(13,17);
					}
					
					@include media('<tablet'){
						@include font(12,16);
					}
				}
				.holder { overflow: hidden;}
				.quick-links,
				.property-details {
					@include font(12,15);
					@extend %listreset;
					text-transform: capitalize;
					margin: 0 0 20px;
					
					li{
						margin: 0 0 10px;
						
						@include media('<desktop'){
							margin: 0 0 5px;
						}
					}
				}
				.quick-links {
					@include align-reset(top,16,20);
					margin: 0 -10px;
					float: left;
					
					@include media('<widescreen'){
						margin: 0 -5px;
						@include align-reset(top,14,17);
					}
					
					@include media('<desktop'){
						@include align-reset(top,13,16);
					}
					
					@include media('<tablet'){
						@include align-reset(top,12,15);
						margin: 0 -3px;
					}
					
					li {
						padding: 0 10px;
						
						@include media('<widescreen'){
							padding: 0 5px;
						}
						
						@include media('<tablet'){
							padding: 0 3px;
						}
						
						a{
							display: block;
							text-decoration: none;
							color: $mix-black;
							border: 1px solid $mix-black;
							padding: 10px 20px;
							transition: color 0.4s ease, border 0.4s ease, background 0.4s ease;
							-webkit-transition: color 0.4s ease, border 0.4s ease, background 0.4s ease;
							-moz-transition: color 0.4s ease, border 0.4s ease, background 0.4s ease;
							-ms-transition: color 0.4s ease, border 0.4s ease, background 0.4s ease;
							
							@include media('<widescreen'){
								padding: 10px;
							}
							
							&:hover{
								color: $white;
								border-color: $white;
								background: $green;
							}
						}
					}
				}
				.state-logo {
					float: right;
					overflow: hidden;
					@include squar(80px,80px);
					
					@include media('<widescreen'){
						@include squar(60px,60px);
					}
					
					a{ display: block;}
					
					img{ @include img-res;}
				}
			}
		}
	}
}