/* ---------------------------------------------------------
   1. Embedded fonts styles
   2. Eric Mayer CSS Reset
   3. General reset
   4. Common site styles
   5. Custom form styles
   6. Styles for responsive breakpoints
   ---------------------------------------------------------*/

$breakpoints: (
  'xs-phone': 320px,
  'phone': 376px,
  'tablet': 768px,
  'desktop': 1024px,
  'widescreen': 1200px,
  'tvscreen':1600px
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';
@import 'vendors/normalize';
@import 'vendors/fonts';

@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/reset';
@import 'base/typography';
@import 'base/forms';
@import 'index';
@import 'fancybox';
@import 'public-property-listing';
@import 'property-details';
@import 'agent-listing-page';
@import 'agent-profile';
@import 'select2-min';
@import 'add-property-form';

html, body {
	width: 100%;
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
	

	&:after{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		content: '';
		transition: opacity 0.5s linear, visibility 0.5s linear, z-index 0.5s linear, background 0.5s linear;
		-webkit-transition: opacity 0.5s linear, visibility 0.5s linear, z-index 0.5s linear, background 0.5s linear;
		-moz-transition: opacity 0.5s linear, visibility 0.5s linear, z-index 0.5s linear, background 0.5s linear;
		opacity: 0;
		visibility: hidden;
		background: transparent;
	}
	&.loading-resources {
		height: 100vh;
		overflow: hidden;
		
		.lodaing-page{ display: block !important;}
		
		&:after{
			z-index: 99999;
			opacity: 1;
			visibility: visible;
			background: $defualt-blue;
		}
	}
}

.lodaing-page {
	display: none !important;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 999991;
	color: $white;
	@include font(60,65);
	margin: -115px 0 0 -220px;
	font-weight: bold;
	font-style: italic;
	
	@include media('<tablet') {
		@include font(40,45);
		margin: -110px 0 0 -140px;
	}
	
	&:before{
		display: block;
		background: url(../images/ring.gif);
		width: 72px;
		height: 72px;
		content: '';
		margin: 0 auto;
	}
}
.container { @include container;}
.layout{ overflow: hidden;}
.hidden-xs {
	@include media('<tablet'){ display: none !important;}
}
a{ outline: none;}
::-webkit-input-placeholder { /* WebKit browsers */
  color: $mix-black;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: $mix-black;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:$mix-black;
  opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: $mix-black;
}
@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-15px);}
    60% {-webkit-transform: translateY(-5px);}
}
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-15px);}
    60% {-webkit-transform: translateY(-5px);}
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-15px);}
    60% {transform: translateY(-5px);}
}
h1 {
	display: block;
	text-transform: capitalize;
	@include font(20,23);
	color: $dove-black;
	margin: 0 0 20px;
	font-weight: 600;
	border-color: $orange;
	border-style: solid;
	border-width: 0 0 1px 3px;
	padding: 0 10px 5px;
	text-shadow: 2px 2px 3px rgba($black, 0.7);
}
#wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 100%;
	display: table;
	border-collapse: collapse;
	table-layout: fixed;
	
}
#header {
	width: 100%;
	top: 0;
	left: 0;
	display: block;
	position: fixed;
	z-index: 9992;
	background: $defualt-blue;
	@extend %clearfix;
	min-width: 320px;

	.fancybox-lock & {
		z-index: 99;
	}

	.layout {
		padding: 10px 10px 0;
		overflow: visible;
		@extend %clearfix;
		
		@include media('<desktop'){
			padding: 10px;
		}
	}
	.btn-header {
		float: right;
		max-width: 300px;
		color: $white;
		text-transform: uppercase;
		@include font(14,18);
		text-decoration: none;
		background: $mix-blue;
		border-radius: 4px;
		padding: 10px 20px;
		margin: 12px 5px 0;
		transition: background 0.4s ease;
		
		@include media('<desktop'){
			@include font(11,13);
			padding:5px;
			float: none;
			display: block;
			margin: 0 auto 5px;
			width: 135px;
			text-align: center;
			position: relative;
			left: 32px;
		}
		
		&.addPro {
			@include media('<desktop'){ display: none;}
		}

		&.loggedIn,
		&.loginRegister {
			border-radius: 0;
			background: transparent;
			border: 1px solid $white;
			cursor: pointer;
			position: relative;
			
			p{
				margin: 0;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 220px;

				@include media('<widescreen'){
					max-width: 160px;
				}

				@include media('<desktop'){
					max-width: 150px;
				}
			}

			
			&:hover{
				border-color: $black;
				background: $black;
			}
		}
		
		&.loggedIn{
			min-width: 180px;
			text-align: center;
			padding: 10px 20px 10px 30px;
			
			@include media('<desktop'){
				padding: 10px 20px 10px 23px;
				min-width: 100px;
			}

			span[class^="icon-"],span[class*="icon-"]{
				position: absolute;
				top: 50%;
				left: 5px;
				@include font(14,14);
				margin: -7px 0 0;

				@include media('<tablet'){
					@include font(12,12);
					margin: -6px 0 0;
				}
			}
			
			&:hover{
				.LoggedIn-links { display: block;}		
			}
		}

		.LoggedIn-links {
			@extend %listreset;
			position: absolute;
			top: 100%;
			min-width: 180px;
			left: 0;
			right: 0;
			display: none;
			background: $index-white;
			text-align: left;

			@include media('<tablet'){
				min-width: 100px;
			}

			li {
				display: block;

				&:first-child{
					a{border: 0;}
				}
			}
			a {
				padding: 5px 10px 5px 30px;
				display: block;
				color:$mix-black;
				position: relative;
				text-decoration: none;
				border-top: 1px solid $mix-black;
				transition: color 0.4s ease, background 0.4s ease, border 0.4s ease;
				-webkit-transition: color 0.4s ease, background 0.4s ease, border 0.4s ease;
				-mos-transition: color 0.4s ease, background 0.4s ease, border 0.4s ease;

				span[class^="icon-"],span[class*="icon-"]{
					position: absolute;
					top: 50%;
					left: 5px;
					@include font(15,15);
					color: $green;
					margin: -7px 0 0;
					transition: color 0.4s ease;
					-webkit-transition: color 0.4s ease;
					-mos-transition: color 0.4s ease;
				}

				&:hover {
					background:  $green;
					color: $white;
					border-color: $green;
					span[class^="icon-"],span[class*="icon-"]{ color: $white;}
				}
			}
		}

		&:hover{ background: $orange; }
		span[class^="icon-"], span[class*="icon-"] {
			@include align(top);
			@include font(18,19);
			font-weight: bold;
			
			@include media('<tablet'){
				@include font(16,15);
			}
		}
	}
}
#nav {
	float: left;
	max-width: 1024px;
	padding: 0 0 0 20px;
	
	@include media('<desktop'){
		float: none;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		display: none;
		padding: 0;
		background: rgba($defualt-blue, 0.98);
		z-index: 95;
		
		.nav-active & {
			display: block;
		}
	}
	
	.main-navigation {
		float: left;
		@extend %listreset;
		@include align-reset(top,20,24);
		text-transform: capitalize;
		
		@include media('<desktop'){
			@include align-reset(top,16,20);
			float: none;
		}
		
		li {
			padding: 0 10px 12px;
			margin: 0;
			position: relative;
			
			@include media('<desktop'){
				display: block;
				padding: 0;
			}
			
			&:hover {
				.dropDown{
					opacity: 1;
					top: 100%;
					z-index: 9;
					visibility: visible;
					
					@include media('<desktop'){ display: block;}
				}
				> a{
					@include media('<tablet'){
						background: darken($defualt-blue, 10%);	
					}
					&:after {
						opacity: 1;
						top: 0;
					}
				}
			}
			
			&.hidden-desktop{
				@include media('>=desktop'){ display: none;}
			}
			
			&.agent-link {
				
				&:before,
				&:after {
					position: absolute;
					top: -10px;
					bottom: 0;
					left: 0;
					background: darken($defualt-blue, 20%);
					width: 1px;
					content: '';
					
					@include media('<tablet'){ display: none;}	
				}
				&:before{
					left: 1px;
					background: lighten($defualt-blue, 15%);
				}
			}
			
			a {
				color: $white;
				text-decoration: none;
				display: block;
				position: relative;
				padding: 18px 0;
				
				@include media('<desktop'){
					padding: 15px;
				}
				
				&:after{
					position: absolute;
					top: -10px;
					right: 0;
					left: 0;
					border-top: 5px solid $orange;
					content: '';
					opacity: 0;
					transition: opacity 0.4s ease, border 0.4s ease, top 0.4s ease;
					-webkit-transition: opacity 0.4s ease, border 0.4s ease, top 0.4s ease;
					-moz-transition: opacity 0.4s ease, border 0.4s ease, top 0.4s ease;
					-ms-transition: opacity 0.4s ease, border 0.4s ease, top 0.4s ease;
					
					@include media('<desktop'){ display: none;}
				}
				
				&:hover{
					@include media('<desktop'){
						background: darken($defualt-blue, 10%);	
					}
					
					&:after{
						opacity: 1;
						top: 0;
					}
				}
			}
			
			.dropDown {
				@extend %listreset;
				@include font(16,20);
				position: absolute;
				top: 110%;
				left: 0;
				width: 200px;
				z-index: -1;
				visibility: hidden;
				background: rgba($white, 0.95);
				border-bottom: 4px solid $green;
				opacity: 0;
				transition: top 0.4s ease, opacity 0.4s ease, visibility 0.4s ease;
				-webkit-transition: top 0.4s ease, opacity 0.4s ease, visibility 0.4s ease;
				-moz-transition: top 0.4s ease, opacity 0.4s ease, visibility 0.4s ease;
				-ms-transition: top 0.4s ease, opacity 0.4s ease, visibility 0.4s ease;
				
				@include media('<desktop'){
					width: 100%;
					max-width: 900px;
					margin: 0 auto;
					position: static;
					display: none;
				}
							
				li{
					display: block;
					padding: 0;
					border-top: 1px solid $mix-blue;
					
					&:first-child{ border: 0;}
					&:last-child {
						&:after, &:before{ display: none;}
					}
					a{
						color: $defualt-blue;
						padding: 7px 10px;
						
						&:after{
							display: none;
						}
						&:hover {
							color: $white;
							background: $mix-blue;
						}
					}
				}
			}
		}
	}
	.searchByID {
		float: left;
		position: relative;
		padding: 3px;
		width: 200px;
		margin: 9px 0 0 20px;

		@include media('<desktop'){
			width: 100%;
			float: none;
			overflow: hidden;
			margin: 0 0 10px;
		}

		input[type="number"]{
			padding: 8px 30px 8px 10px;
			@include squar(100%, 35px);
			background: transparent;
			border: 1px solid $white;
			color: $white;
			border-radius: 4px;
			@include font(12,15);

			@include placeholder{
				color: $white;
				opacity: 1;
			}
		}
		button[type="submit"]{
			border: 0;
			padding: 0;
			background: transparent;
			color: $white;
			position: absolute;
			top: 50%;
			right: 10px;
			@include font(14,14);
			margin: -7px 0 0;
		}
	}
}
.logo {
	float: left;
	width: 140px;
	
	@include media('<desktop'){
		width: 100px;
	}
	
	a{ display: block; }
	
	img { @include img-res;}
}
#main{
	overflow: hidden;
	position: relative;
	padding: 0 0 50px;
	
	@include media('<tablet'){
		padding: 0 0 20px;
	}
}
li{
	transition: opacity 0.5s ease, visibility 0.5s ease, height 0.45s ease;
	-webkit-transition: opacity 0.5s ease, visibility 0.5s ease, height 0.45s ease;
	-moz-transition: opacity 0.5s ease, visibility 0.5s ease, height 0.45s ease;
	-ms-transition: opacity 0.5s ease, visibility 0.5s ease, height 0.45s ease;

	&.hide-bedrooms {
		opacity: 0;
		visibility: hidden;
		height: 0;
	}
}
.main-visual{
	position: relative;
	overflow: hidden;
	height: 100vh;
	background: url("../images/bg-main2.jpg");
	background-attachment: fixed;
	background-size: cover;

	.select2-container--default .select2-selection--single{
		border-color: rgba($black, 0.6);

		&:hover {border-color: $black;}
	}

	@include media('<widescreen', 'landscape'){
		height: 850px;
	}
	
	&:after{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		pointer-events: none;
	}
	
	.property-search-holder{
		height: 100%;
		white-space: nowrap;
		
		&:after{
			height: 100%;
			overflow: hidden;
			margin: 0 0 0 -5px;
			@include align(middle);
			content: '';
			width: 1px;
		}
		
		.tabs-holder{
			@include align(middle);
			white-space: normal;
			width: 100%;
		}
		
		.main-links {
			@include container;
			max-width: 800px;
			@extend %listreset;
			@include align-reset(top,30,33);
			text-transform: capitalize;
			text-align: center;
			display: block;
			
			@include media('<desktop'){
				@include align-reset(top,25,30);
			}
			
			li{
				margin: 0 0 20px;
				width: 33.33%;
				padding: 0 5px;
				overflow: visible;
				
				@include media('<desktop'){
					margin: 0 0 15px;
				}
				@include media('<tablet'){
					width: 50%;
				}
			
				label, span{
					float: none;
					width: 100%;
				}

				.fake-label{
					cursor: pointer;
					color: $black;
					background: rgba($white, 0.7);
					display: block;
					padding: 15px;
					position: relative;
					transition: background 0.4s ease;
					-moz-transition: background 0.4s ease;
					-ms-transition: background 0.4s ease;
					-webkit-transition: background 0.4s ease;
					
					&:after{
						position: absolute;
						bottom: -19px;
						left: 50%;
						border: 10px solid transparent;
						border-top: 10px solid $mix-blue;
						content: '';
						margin: 0 0 0 -13px;
						opacity: 0;
						transition: opacity 0.4s ease;
						-webkit-transition: opacity 0.4s ease;
						-moz-transition: opacity 0.4s ease;
					}
					
					&:hover{
						background: $mix-blue;
						color: $white;
						
						&:after{
							opacity: 1;
						}
					}
				}
				
				input[type="radio"]{
					position: fixed;
					top: -9999px;
					left: -9999px;
					opacity: 0;

					&:checked ~ {
						.fake-label {
							background: $mix-blue;
							color: $white;
							
							&:after{
								opacity: 1;
							}
						}
					}
				}
			}
		}
		.tab-content{
			overflow: hidden;
			background: rgba($white, 0.9);
			@include container;
			padding: 20px 10px;
			max-width: 1040px;
			border-bottom: 4px solid $mix-blue;
			@include align-reset(top,16,19);
			display: block;

			@include media('<tablet'){
				@include align-reset(top,12,16);
			}
		}
		
		form{
			overflow: hidden;
			
			@include media('<desktop'){
				@include align-reset(top,14,17);
			}
			
			@include media('<tablet'){
				@include align-reset(top,12,15);
			}

			ul{
				text-transform: capitalize;
				@extend %listreset;
				width: 50%;
				color: $black;
				padding:10px 20px;
				
				@include media('<tablet'){
					width: 100%;
					display: block !important;
					padding: 5px;
				}
				
				&.propertyType-buttons{
					width: 100%;
					display: block;
					margin: 0 auto 10px;
					padding: 0;
					@include align-reset(top,14,17);
					text-align: center;
					
					@include media('<desktop'){
						@include align-reset(top,12,15);
					}
					@include media('<tablet'){
						@include align-reset(top,11,14);
					}
					
					li{
						min-width: 125px;
						border-left: 1px solid $white;
						padding: 0;
						margin: 0 0 10px;
						
						@include media('<tablet'){
							min-width: 73px;
						}

						&:first-child{ border: 0;}
						
						span,
						label{
							display: block;
							float: none;
							width: auto;
							cursor: pointer;
						}
						
						.fake-label{
							padding: 10px 3px;
							color: $black;
							background: $light-gray;
							transition: color 0.4s ease, background 0.4s ease;
							-webkit-transition: color 0.4s ease, background 0.4s ease;
							-ms-transition: color 0.4s ease, background 0.4s ease;
							-moz-transition: color 0.4s ease, background 0.4s ease;
						}
						
						input[type="radio"]{
							opacity: 0;
							position: fixed;
							top: -9999px;
							left: -9999px;
							
							&:checked ~{
								.fake-label{
									background: $defualt-blue;
									color: $white;
								}
							}
						}
					}
				}
				
				&.inline {
					@include align-reset(top,16,19);
					
					@include media('<desktop'){
						@include align-reset(top,14,17);	
					}
					
					
					li{
						width: 50%;
						padding: 0 10px 15px;
						
						@include media('<tablet'){
							padding: 0 10px 10px;
						}
						
						&.full{
							width: 100%;
							display: block;
							font-weight: 600;
							text-align: center;
							@include font(20,22);
							
							@include media('<desktop'){
								@include font(16,20);
							}
							@include media('<tablet'){
								@include font(14,18);
								padding: 5px;
							}
							.fake-select,
							label , span {
								width: 50%;
								
							}
							.fake-select {
								font-weight: normal;
								
								@include media('<tablet'){
									max-width: 129px;
									margin: 0 auto 10px;

									&:after{
										display: none;
									}
								}
							}
						}
						&.priceArea {
							padding: 13px 10px 15px;
							margin: 0 0 -35px;
							@extend %lcearfix;
							overflow: visible;

							@include media('<tablet'){
								margin: 0;
							}

							.input-holder {
								padding: 0 0 35px;
								overflow: visible;
								@extend %lcearfix;
								width: calc(100% - 50px);
								float: left;

								@include media('<tablet'){
									padding: 0;
								}
							}
						}
						> label , > span {
							width: 50px;
							
							@include media('<tablet'){
								width: 50px;
							}
						}
					}
				}
				
				li{
					display: block;
					overflow: hidden;
					padding: 0 0 15px;

					@include media('<tablet'){
						padding: 0 0 10px;
					}
					
					select{
						@include media('<desktop'){
							@include font(13,17);
						}
					}
					
					> label , > span {
						display: block;
						width: 180px;
						float: left;
						
						@include media('<desktop'){
							width: 125px;
						}
						@include media('<tablet'){
							width: 110px;
						}
					}
					
					.load,
					.fake-select {
						float: none;
						width: 100%;
					}

					.input-holder{
						position: relative;
						overflow: hidden;
					}
					input[type="text"], input[type="number"],
					select{
						display: block;
						width: 100%;
						border: 1px solid rgba($black, 0.6);
						color: rgba($black, 0.6);
						height: 35px;
						background: transparent;
						
						@include media('<desktop'){
							height: 30px;
						}
						
						&:focus,
						&:hover{
							color: $black;
							border-color: $black;
						}
					}
					input[type="text"], input[type="number"]{
						width: 100%;
						
						@include media('<desktop'){
							@include font(13,16);
							padding: 5px;
						}
					}
				}
			}
			.btn-holder{
				overflow: hidden;
				display: block;
				padding: 13px 0 0;
				
				button[type="submit"]{
					display: block;
					color: $white;
					font-weight: 600;
					@include font(16,18);
					width: 250px;
					border-radius: 4px;
					background: $green;
					border: 0;
					margin: 0 auto;
					padding: 15px 50px;
					position: relative;
					border-bottom: 4px solid darken($green, 10%);
					
					@include media('<desktop'){
						@include font(14,16);
						width: 200px;
						padding: 10px;
					}
					
					@include media('<tablet'){
						width: 190px;
					}
					
					[class^="icon-"],[class*="icon-"]{
						position: absolute;
						top: 50%;
						right: 20px;
						margin: -5px 0 0;
						padding: 0 5px;
					}
					&:hover{
						background: darken($green, 5%);
					}
				}
			}
		}
	}
	.down-scroll{
		position: absolute;
		color: rgba($white, 0.6);
		bottom: 0;
		left: 50%;
		text-decoration: none;
		@include font(80,80);
		animation: bounce 1.5s infinite;

		@include media('<tablet'){
			display: none;
		}
	}
}
.fake-select{
	width: 100%;
	float: none;
	display: block;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	z-index: 1;

	.select2-container--default .select2-selection--single .select2-selection__arrow {
		display: none !important;
	}
	.select2-container .select2-selection--single {
		height: 35px;

		@include media('<desktop'){
			height: 30px;
		}
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered{
		@include font(14,35);

		@include media('<desktop'){
			@include font(14,30);
		}
	}

	&.loading {
		.load {
			&:after, &:before {
				display: block;
			}
		}
	}

	&:after{
		position: absolute;
		top: 50%;
		right: 10px;
		content: "\e92c";
		font-family: 'icomoon';
		@include font(22,22);
		margin: -12px 0 0;
		z-index: -1;
	}

	&:active,
	&:focus,
	&:hover{
		border-right-color: $black;
		&:after{
			border-top-color: $black;		
		}
	}

	.load {
		display: block;
		float: none;
		width: 100%;
		position: relative;

		&:after{
			position: absolute;
			top: 1px;
			left: 1px;
			right: 1px;
			bottom: 1px;
			background: rgba($white, 0.8);
			content: '';
			z-index: 9;
			display: none;
		}
		&:before {
			position: absolute;
			top: 50%;
			left: 50%;
			background: url('../images/loading.gif') no-repeat;
			background-size: 100% 100%;
			@include squar(40px, 40px);
			content: '';
			z-index: 91;
			margin: -20px 0 0 -20px;
			display: none;
		}
	}
}
#content{
	overflow: hidden;
	position: relative;
	padding: 90px 10px 0;
	
	@include media('<tablet'){
		padding: 0;
		display: table;
		width: 100%;
		table-layout: fixed;
		border-collapse: collapse;
	}
	.container {
		@include media('<tablet'){
			padding: 80px 10px 0;
		}	
	}
}

.pager {
	@extend %listreset;
	text-align: center;
	@include align-reset(top,15,18);
	padding: 30px 0 0;
	
	@include media('<tablet'){
		padding: 30px 0;
		@include align-reset(top,12,15);
	}
	
	li {
		padding: 0 3px;
		margin: 0 0 5px;
		
		&.active {
			a{
				color: $white;
				background: $defualt-blue;
				border-color: $defualt-blue;
			}
		}
		
		a{
			display: block;
			text-decoration: none;
			color: $black;
			border: 1px solid rgba($black, 0.4);
			padding: 5px 10px;
			transition: color 0.4s ease, background 0.4s ease;
			-webkit-transition: color 0.4s ease, background 0.4s ease;
			-moz-transition: color 0.4s ease, background 0.4s ease;
			-ms-transition: color 0.4s ease, background 0.4s ease;
			
			@include media('<tablet'){
				padding: 5px;
			}
			
			&.previous, &.next {
				border: 0;
				padding: 6px 0;
				vertical-align: middle;
				
				&:hover{
					background: transparent;
					color: $black;
					opacity: 0.8;
				}
			}
			
			&:hover{
				color: $white;
				background: $defualt-blue;
				border-color: $defualt-blue;
			}
		}
	}
}

#footer{
	overflow: hidden;
	position: relative;
	background: $defualt-blue;
	border-top: 5px solid $mix-blue;
	color: $white;
	width: 100%;
	height: 1%;
	display: table-footer-group;
	
	.cols-holder{
		overflow: hidden;
		padding: 25px 0;
		margin: 0 -10px;
		
		.col {
			width: 25%;
			float: left;
			padding: 0 10px;
			
			@include media('<tablet'){
				width: 100%;
				float: none;
				display: block;
				overflow: hidden;
				text-align: center;
				padding: 10px;
			}
			
			@include media('<desktop'){
				@include font(14,18);
			}
			
			ul {
				@extend %listreset;
				@include font(16,18);
				text-transform: capitalize;
				
				@include media('<desktop'){
					@include font(14,18);
				}
				
				li{
					margin: 0 0 10px;
					
					a{
						@include align(top);
						color: $white;
						text-decoration: none;
						
						&:hover{
							opacity: 0.8;
						}
					}
				}
			}
			.contact {
				width: 100%;
				padding: 0 3px;
				text-align: left;
				
				.input-holder{
					display: block;
					width: 100%;
					margin: 0 0 10px;

					&.error {
						.error-text{ display: block;}
					}
				}
				textarea,
				input[type="text"],input[type="email"]{
					width: 100%;
					display: block;
					margin: 0;
					padding: 0;
					border: 2px solid lighten($defualt-blue, 40%);
					border-radius: 2px;
					background: transparent;
					height: 35px;
					@include font(14,18);
					padding: 6px;
					outline: none;
					transition: background 0.4s ease;
					
					&:focus {
						color: $white;
						border-color: $white;
						
						@include placeholder{
							color: $white;
						}
					}
					
					@include placeholder{
						color: lighten($defualt-blue, 40%);
						transition: color 0.4s ease;
					}
				}
				textarea {
					height: 100px;
					resize: none;
					overflow: auto;
				}
				.error-text {
					color: $red;
					@include font(13,17);
					padding: 5px 0 0;
					display: none;
				}
				input[type="submit"]{
					display: block;
					width: 100%;
					color: $white;
					background: $light-blue;
					border: 0;
					padding: 5px;
					border-radius: 2px;
					transition: background 0.4s ease;

					&:hover {
						background: darken($light-blue, 10%);
					}
				}
			}
		}
		.heading {
			display: block;
			padding: 0 0 20px;
			
			@include media('<tablet'){
				padding: 0 0 3px;
				position: relative;
				margin: 0 0 10px;
				
				&:after {
					position: absolute;
					bottom: 0;
					left: 50%;
					width: 100px;
					margin: 0 0 0 -50px;
					height: 1px;
					background: $white;
					content: '';
				}
			}
		}
	}
}
.social-networks{
	@include align-reset(middle,20,20);
	margin: 0 -10px !important;
	
	@include media('<desktop'){
		@include align-reset(middle,16,18);
		margin: 0 -5px !important;
	}
	
	li{
		padding: 0 10px;
		
		@include media('<desktop'){
			padding: 0 5px;
		}
		
		a{
			border-radius: 100%;
			border: 2px solid $white;
			padding: 10px;
			transition: background 0.4s ease, border 0.4s ease;
			-webkit-transition: background 0.4s ease, border 0.4s ease;
			-moz-transition: background 0.4s ease, border 0.4s ease;
			-ms-transition: background 0.4s ease, border 0.4s ease;
			
			&:hover{
				opacity: 1 !important;
					
				&.facebook {
					background: #3B5998;
					border-color: #3B5998;
				}
				&.twitter {
					background: #00a9f1;
					border-color: #00a9f1;
				}
			}
		}
	}
}
.nav-opener {
	@include squar(30px,25px);
	display: block;
	float: right;
	position: relative;
	margin: 8px 0 0;
	cursor: pointer;
	
	@include media('>=desktop') {
		display: none;
	}
	
	.nav-active & {
		span{
			opacity: 0;
		}
		&:before{
			top: 10px;
			transform: rotate(45deg);
		}
		&:after{
			transform: rotate(-45deg);
			bottom: 13px;
		}
	}
	
	&:after, &:before,  span {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 2px;
		content: '';
		background: $white;
		transition: all 0.4s ease;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
	}
	&:after {
		top: auto;
		bottom: 0;
	}
	span {
		top: 50%;
		margin: -2px 0 0;
	}
}
.email-popup {
	overflow: hidden;
	background: $white;

	.form-heading {
		display: block;
		width: 100%;
		margin: 0 0 10px;
		background: $defualt-blue;
		color: $white;
		@include font(20,23);
		font-weight: 300;
		padding: 5px 10px;
	}
	.input-field {
		overflow: hidden;
		padding: 10px 20px;
		@include align-reset(top,14,19);

		@include media('<tablet'){
			padding: 10px;
		}
	}
	label {
		display: block;
		width: 100%;
		padding: 0 0 5px;
		font-weight: 600;
	}
	.input-holder {
		width: 100%;
	}
	textarea,
	input[type="text"]{
		width: 100%;
		height: 40px;
		padding: 9px 10px;
		@include font(14,18);
		margin: 0;
		display: block;
	}
	textarea{
		height: 150px;
		resize: none;
		overflow: auto;
	}
	input[type="submit"]{
		width: 100%;
		display: block;
		padding: 5px 10px;
		background: $mix-blue;
		color: $white;
		border: 0;
		@include font(16,20);

		&:hover{
			background: darken($mix-blue, 10%);
		}
	}
}
.enquiry-form {
	overflow: hidden;

	ul {
		@extend %listreset;

		li {
			display: block;
			@include align-reset(top,14,20);
			padding: 0 0 7px;

			@include media('<tvscreen'){
				@include align-reset(top,13,18);
			}

			label {
					width: 120px;
					position: relative;
					padding: 10px 3px 3px;

					@include media('<tvscreen'){
						width: 70px;
					}

					&:after{
						@include align(top);
						content: '\2217';
						color: $red;
						padding: 0 2px;
					}
			}
			.input-holder {
				overflow: hidden;
				width: calc(100% - 120px);
				padding: 3px;
				position: relative;
				
				&.error {
					.error-text { display: block;}

					textarea,
					input[type="text"],input[type="email"],input[type="tel"] {
						border-color: $red;
						@include placeholder{
							color: $red;
						}
					}
				}

				.error-text {
					color: $red;
					@include font(12,15);
					font-weight: 600;
					padding: 3px;
					display: none;
				}

				@include media('<tvscreen'){
					width: calc(100% - 70px);
				}

				&.add {
					padding: 3px 140px 3px 3px;

					@include media('<tvscreen'){
						padding: 3px 105px 3px 3px;
					}
				}
				.captcha {
					@include squar(130px, 40px);
					position: absolute;
					top: 0;
					right: 0;
					display: block;
					border: 1px solid $black;;

					@include media('<tvscreen'){
						@include squar(100px, 35px);
						top: 3px;
					}
				}
			}
		}
	}
	textarea,
	input[type="text"],input[type="email"],input[type="tel"] {
		@include squar(100%, 35px);
		display: block;
		padding: 7px;
		@include font(14,18);

		&:focus{
			border-color: $defualt-blue;

			@include placeholder{ color: $defualt-blue;}
		}
		@include placeholder{
			opacity: 1;
			
			@include media('<tvscreen'){
				@include font(12,18);
			}
		}
	}
	textarea {
		resize: none;
		height: 100px;
		overflow: auto;
	}
	button[type="submit"]{
		display: block;
		width: 100%;
		border: 0;
		padding: 10px 35px 10px 36px;
		border-radius: 2px;
		@include font(18,22);
		position: relative;
		color: $white;
		background: $green;

		span[class^="icon-"],span[class*="icon-"]{
			position: absolute;
			top: 50%;
			left: 10px;
			margin: -10px 0 0;
		}

		&:hover {
			background: $mix-blue;
		}
	}
}
.fancybox-skin {
	padding: 5px !important;
}
.lightbox {
	padding: 5px;
	width: 100%;
	max-width: 500px;
	display: none;

	.form-heading {
		display: block;
		width: 100%;
		color: $black;
		@include font(20,23);
		font-weight: 600;
		padding:  0 0 10px;
	}
}
.loginToContinue {
	border: 2px solid $orange;
	background: $white;
	@include font(20, 25);
	padding: 45px 25px;
	position: relative;
}
.alert-success {
	@include font(16,20);
	display: block;
	width: 400px;
	text-align: center;
	margin: 0 auto 20px;
	position: relative;
	border: 2px solid darken($green, 8%);
	border-radius: 4px;
	background: rgba($green, 0.7);
	color: $white;
	overflow: hidden;
	padding: 10px 5px 10px 37px;

	@include media('<tablet'){
		@include font(12,17);
		width: 300px;
		padding: 7px 5px 7px 30px;
	}

	.close  {
		color: darken($green, 8%);
		cursor: pointer;
		position: absolute;
		top: 0;
		right: 0;
		@include font(13,16);
	}

	span[class^="icon-"],span[class*="icon-"] {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		padding: 14px 10px;
		color: darken($green, 8%);

		@include media('<tablet'){
			padding: 11px 8px;
		}

		&:after {
			position: absolute;
			top: -9999px;
			right: 0;
			bottom: -9999px;
			background: darken($green, 8%);
			width: 2px;
			content: '';
		}
	}
}
.mySearch-Form {
	width: 100%;
	overflow: hidden;

	.select2-container {
		width:  100% !important;
	}

	ul {
		@extend %listreset;
		@include align-reset(top,15,18);

		@include media('<tablet'){
			@include align-reset(top,12,15);
		}

		li {
			margin: 0 0 10px;
		}

		&.propertyPurpose {
			@include align-reset(top,20,24);
			text-align: center;

			li {
				width: 50%;
			}
		}
		&.propertyType {
			text-align: center;

			@include media('<tablet'){
				@include align-reset(top,10,14);
			}

			 li{
				 width: 33.33%;
			 }
			 .fake-label{
				 padding: 5px;
			 }
		}
		&.fields {
			li {
				display: block;
				@extend %clearfix;

				label{
					padding: 0 0 10px;
				}
				.input-holder{
					padding: 3px;
					float: left;
					width: 50%;
					position: relative;

					&.add {
						width:  33.33%;
					}

					.price-Range {
						bottom: -100%;
						white-space: normal;
						
						@include media('<tablet'){
							bottom: 0;
						}

						&:after {
							border-bottom-color: $defualt-blue;
						}
					}
				}
			}
		}
	}
	label{
		display: block;
	}
	.fake-label{
		cursor: pointer;
		display: block;
		background: $index-white;
		color: $dove-black;
		padding: 10px;
	}
	select,
	input[type="text"],
	input[type="number"] {
		display: block;
		width: 100%;

		@include media('<tablet'){
			@include font(12,17);
		}
	}
	input[type="radio"]{
		position: fixed;
		top: -9999px;
		left: -9999px;
		opacity: 0;

		&:checked{
			~ .fake-label{
				background: lighten($green, 10%);
				color: $white;
			}
		}
	}
	 button[type="submit"]{
		 width: 100%;
		 display: block;
		 border: 2px solid darken($mix-blue, 10%);
		 color: $white;
		 @include font(16,19);
		 background: lighten($mix-blue, 5%);
		 position: relative;
		 padding: 8px 20px;

		 span[class^="icon-"], span[class*="icon-"]{
			 position: absolute;
			 top: 50%;
			 left: 10px;
			 margin: -6px 0 0;
		 }
		 &:hover {
			 background: darken($mix-blue, 10%);
		 }
	 }
}
@media print {
	* {
		background: none !important;
		color: $black !important;
		float: none !important;
		transition: none !important;
		-webkit-transition: none !important;
		-moz-transition: none !important;
	}
	body {
		margin: 0 !important;
		color: $black !important;
		min-width: inherit !important;
	}
	img { border-style: none !important; }
	a { text-decoration: none !important; }
	/* set default settings  */
	body, #wrapper, #header, #main {
		width: 100% !important;
		display: block !important;
		overflow: visible !important;
		min-width: inherit !important;
		clear: both !important;
		position: static !important;
	}
	*:after, *:before {
		background: none !important;
		transition: none !important;
		-webkit-transition: none !important;
		-moz-transition: none !important;
		color: $black !important;
	}
	#header .layout{
		padding: 0 !important;
	}
	.logo {
		float: none !important;
		margin: 0 auto !important;
		width: 100 !important;
	}
	.propertyDetails-page .propertyOwnerInfo header, .propertyDetails-page .propertyOwnerInfo .description .name:before,
	.main-visual, .propertyDetails-page .propertyOwnerInfo .description .agency-profile, .propertyDetails-page .propertyOwnerInfo .description .contact-links li:first-child,
	.btn-header.loginRegister, .propertyDetails-page .propertyImage-slider,
	#header .btn-header, .main-visual .property-search-holder, .main-visual .down-scroll, #footer, .propertyDetails-page .property-qucikLinks, .propertyDetails-page .overviewText-holder .btn-showMore,
	#nav, .weAreUpgrading, .alert-success { display: none !important;}
	.layout {
		 overflow: visible !important;
		 clear: both !important;
		 width: 100% !important;
		 display: block !important;
	}
	.propertyDetails-page .propertyOwnerInfo{
		float: none !important;
		width: 100% !important;
		overflow: visible !important;
		clear: both !important;
	}
	.propertyDetails-page .feature-list li::after,
	.popup,
	[class*="icon-"], [class^="icon-"]{
		display: none !important;
	}
	h1 {
		text-shadow: none !important;
		border: 0 !important;
		margin: 0 0 10px !important;
		display: block !important;
		clear: both !important;
		padding: 0 !important;
		font-size: 16px !important;
		line-height: 18px !important;
	}
	.propertyDetails-page .propertyOwnerInfo .description dl,
	.propertyDetails-page .propertyOwnerInfo .description .contact-links,
	.propertyDetails-page .propertyOwnerInfo .description .summary {
		display: block !important;
		clear: both !important;
		width:  100% !important;
		text-align: left !important;
		margin: 0 !important;
		padding: 0 !important;
		overflow: visible !important;
	}
	.propertyDetails-page .propertyOwnerInfo .description dl {
		margin: 0 0 10px !important;
	}
	.propertyDetails-page .propertyOwnerInfo .description .summary {
		padding: 0 0 10px !important;
	}
	.propertyDetails-page .propertyOwnerInfo .description dl dt,
	.propertyDetails-page .propertyOwnerInfo .description dl dd{
		overflow: visible !important;
		float: left !important;
		width: 50% !important;
		padding: 0 0 5px !important;
	}
	.propertyDetails-page .propertyOwnerInfo .description .contact-links li {
		width: 100% !important;;
		display: block !important;
		padding: 0 !important;
	}
	.propertyDetails-page .propertyOwnerInfo .description .contact-links li a {
		border: 0 !important;
		padding: 0 !important;
	}
	.propertyDetails-page .propertyOwnerInfo .description .contact-links > *{
		font-size: 12px !important;
		line-height: 15px !important;
		display: block !important;
		width: 100% !important;
		clear: both !important;
		padding: 0 0 0 0 50px !important;
	}
	.propertyDetails-page .propertyOwnerInfo .description{
		padding: 0 !important;
	}
	#content{
		padding: 5px !important;
		overflow: visible !important;
		clear: both !important;
		width: 100% !important;
	}
	.propertyDetails-page .overviewText-holder,
	.propertyDetails-page .overviewText-holder .overviewText {
		padding: 0 !important;
		overflow: visible !important;
		width: 100% !important;
		clear: both !important;
	}
	.propertyDetails-page .overviewText-holder.height{
		height: 100% !important;
		width: 100% !important;
		clear: both !important;
	}
	.propertyDetails-page .propertyOwnerInfo .description img{
		float: left !important;
		max-width: inherit;
		width: 50px !important;
	}
	.propertyDetails-page .propertyOwnerInfo .description .holder{
		overflow: visible !important;
		float: left !important;
		padding: 0 0 0 20px !important;
	}
	.propertyDetails-page .propertyOwnerInfo .description .name{
		padding: 0 0 5px !important;
	}
	.propertyDetails-page .overviewText-holder p {
		margin: 0 0 10px !important;
		font-size: 12px !important;
		line-height: 15px !important;
	}
	.propertyDetails-page h2 {
		padding: 0 !important;
		margin: 0 0 10px !important;
	}
	.propertyDetails-page .feature-list{
		padding: 0 !important;
	}
	.propertyDetails-page .feature-list li {
		padding: 0 5px !important;
		margin: 0 0 5px !important;
	}
	.propertyDetails-page .feature-list li span{
		padding: 0 !important;
	}
	.propertyDetails-page .propertyOwnerInfo .description .summary{
		font-size: 14px !important;
		line-height: 16px !important;
	}
	.propertyDetails-page .propertyOwnerInfo .description dl > *{
		font-size: 12px !important;
		line-height: 15px !important;
	}
	.propertyDetails-page .propertyOwnerInfo .description dl dd,
	.propertyDetails-page .propertyOwnerInfo .description dl dt {
		padding: 0 0 3px !important;
	}
}

.resize-active * {
	transition: none !important;
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
}
.select2-container--default .select2-selection--single {
	border-radius: 0;
}
.select2-container .select2-selection--single {
	height: 40px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height: 40px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: auto;
	bottom: 1px;
}
.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -170px 0 0 -250px;
	z-index: 9999;
	width: 500px;
	text-align: left;
	display: none;

	&.less-indent {
		margin: -300px 0 0 -250px;
	}

	@include media('<tablet'){
		width: 300px;
		margin: -140px 0 0 -150px;
	}

	.popup-holder.active &{
		display: block;
	}

	.loginToContinue {
		margin:70px 0 0;
	}

	.popup-close {
		cursor: pointer;
		color: $red !important;
		position: absolute;
		top: 0;
		right: 5px;
		text-decoration: none;
		color: $white;
		font-size: 30px;
		line-height: 1;

		&:after {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba($black, 0.7);
			content: '';
			z-index: -1;
		}
	}
}
.popup-holder {
	position: relative;
	overflow: hidden;
	height: 0;
}
.select2-container--default .select2-selection--single {
	background: transparent;
}
.select2-dropdown{
	z-index: 9991;
}
.price-Range {
	white-space: nowrap;
	@include font(14,17);
	display: block;
	width: auto !important;
	position: relative;
	background: $defualt-blue;
	color: $white;
	border-radius: 4px;
	padding: 5px;
	position: absolute;
	bottom: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	z-index: -1;
	transition: opacity 0.4s ease, visibility 0.4s ease, z-index 0.4s ease;
	-webkit-transition:opacity 0.4s ease, visibility 0.4s ease, z-index 0.4s ease;
	-moz-transition:opacity 0.4s ease, visibility 0.4s ease, z-index 0.4s ease ;
	-ms-transition:opacity 0.4s ease, visibility 0.4s ease, z-index 0.4s ease ; 

	@include media('<tablet'){
		white-space: normal;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		border-radius: 0;
		z-index: 99;
		background: $defualt-blue;
	}

	.priceShow & {
		opacity: 1;
		visibility: visible;
		z-index: 2;
	}

	&:after {
		position: absolute;
		top: -10px;
		left: 15px;
		border: 5px solid transparent;
		border-bottom: 5px solid $defualt-blue;
		content: '';

		@include media('<tablet'){
			display: none;
		}
	}
}
.weAreUpgrading {
	width: 350px;
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 99122;
	background: lighten($defualt-blue, 10%);
	@include font(14,18);
	color: $white;
	padding: 20px 30px 20px 35px;
	box-shadow: 5px 5px 5px 10px rgba($black, 0.6);
	margin: 0 0 -500px;
	transition: margin 0.6s ease;
	-webkit-transition: margin 0.6s ease;
	-moz-transition: margin 0.6s ease;
	-ms-transition: margin 0.6s ease;

	@include media('<tablet'){
		width: 100%;
	}

	&.show{
		margin: 0;
	}

	&:after {
		position: absolute;
		top: 10px;
		left: 5px;
		content: "\e917";
		font-family: 'icomoon';
		@include font(22,22);
	}

	.close-msgUpgrade {
		cursor: pointer;
		position: absolute;
		top: 5px;
		right: 5px;
		color: $orange;
		z-index: 99;

		@include media('<tablet'){
			top: 10px;
			right: 10px;
			font-size: 20px;
		}
	}
}