
/* ---------------------------------------------------------
   1. Embedded fonts styles
   2. Eric Mayer CSS Reset
   3. General reset
   4. Common site styles
   5. Custom form styles
   6. Styles for responsive breakpoints
   ---------------------------------------------------------*/

$breakpoints: (
  'xs-phone': 320px,
  'phone': 376px,
  'tablet': 768px,
  'desktop': 1024px,
  'widescreen': 1200px,
  'tvscreen':1600px
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';
@import 'vendors/normalize';
@import 'vendors/fonts';

@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/reset';
@import 'base/typography';
@import 'base/forms';
.text-left{ text-align: left !important;}
.text-right { text-align: right !important;}
.text-uppercase{ text-transform: uppercase !important;}
.text-center{ text-align: center !important;}
.container { @include container;}
.layout{ overflow: hidden;}
a{ outline: none;}
#wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
}
#header {
	width: 100%;
	display: block;
	position: relative;
	background: $defualt-blue;
	
	.layout {
		padding: 10px 0;
	}
}
.logo {
	float: left;
	width: 140px;
	
	a{ display: block; }
	
	img { @include img-res;}
}
.add-property {
	float: right;
	max-width: 300px;
	color: $white;
	text-transform: uppercase;
	@include font(14,18);
	text-decoration: none;
	background: $mix-blue;
	border-radius: 4px;
	padding: 10px 20px;
	margin: 12px 0 0;
	transition: background 0.4s ease;
	
	@include media('<tablet'){
		max-width: 130px;
		@include font(12,18);
		padding: 6px 5px;
		margin: 17px 0 0;
	}
	
	&:hover{ background: $orange; }
	&:before {
		@include align(top);
		content: "\e900";
		font-family: 'icomoon';
		@include font(18,19);
		font-weight: bold;
	}
}
#main{
	overflow: hidden;
}
.addPropertyFormContianer{
	@include container;
	
	&.sectionListingActive {
		.section-listing{
			height: auto;
			max-height: 210px;
			opacity: 1;
			visibility: visible;
			z-index: 9;
		}
	}
	
	&.fixed-position{
		padding: 85px 10px 0;
		
		.listing-holder{
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			z-index: 98;
			@include container;
		}
		.section-listing {
			@include media('<tablet'){
				left: 0;
				right: 0;
			}
		}
		.attactment-block, .basics-block, .feature-block, .contact-information{
			padding: 30px 0 0;
			@include media('<tablet'){
				padding: 25px 0 0;
			}
		}
	}
	
	.attactment-block, .basics-block, .feature-block, .contact-information{
		padding: 10px 0 0;
	}
	
	.select2-container{
		@include media('<desktop'){
			min-width: 190px;
		}
		@include media('<tablet'){
			margin: 0;
			min-width: inherit;
			width: 100%;
		}
	}
	
	.listing-holder{
		display: block;
		width: 100%;
		position: relative;
		clear: both;
		
		@include media('<tablet'){
			text-align: center;
		}
		
		&:after{
			position: absolute;
			top: 0;
			bottom: 0;
			left: -9999px;
			right: -9999px;
			z-index: -1;
			background: $light-gray;
			content: '';	
		}
		
		.listing-opener{
			text-decoration: none;
			color: $black;
			@include font(40,36);
			cursor: pointer;
			z-index: 5;
			display: block;
			
			@include media('>=tablet'){ display: none;}
			
			&:hover{
				color: $mix-grays;
			}
		}
	}
	
	.section-listing {
		@extend %listreset;
		@include align-reset(top, 18, 21);
		position: relative;
		background: $light-gray;
		
		@include media('<tablet'){
			position: absolute;
			top: 100%;
			left: -10px;
			right: -10px;
			z-index: -1;
			max-height: 0;
			opacity: 0;
			visibility: hidden;
			height: 0;
			overflow: auto;
			transition: z-index 0.5s ease, max-height 0.5s ease, opacity 0.5s ease, visibility 0.5s ease, height 0.5s ease;
		}
		
		li{
			@include media('<tablet'){
				display: block;
			}
			
			&.activeAddPropertyNavLink{
				&:before{
					background: $light-blue;
				}
				a{
					color: $black;
					&:after{
						right: 0;
					}
					[class^="icon-"], [class*="icon-"] { color: $green;}
				}	
			}
			&:hover{
				&:before{
					background: $light-blue;
				}
				a{
					color: $black;
					&:after{
						right: 0;
					}
				[class^="icon-"], [class*="icon-"] { color: $green;}				
				}
			}
			
			a{
				padding:15px 95px;
				text-align: center;
				display: block;
				text-decoration: none;
				color: $mix-grays;
				position: relative;
				z-index: 1;
				overflow: hidden;
				
				@include media('<widescreen'){
					padding: 15px 70px;
				}
				@include media('<desktop'){
					padding: 15px 45px;
				}
				
				&:after {
					background: $index-white;
					position: absolute;
					left: 0;
					right:100%;
					bottom:0;
					top: 0;
					z-index: -1;
					content: '';
					transition: all 0.4s ease;
				}
				[class^="icon-"], [class*="icon-"] {
					position: absolute;
					top: 50%;
					left:40px;
					margin: -11px 0 0;
					
					@include media('<desktop'){
						left: 9px;
					}
					
					&:before{
						font-size: 25px;
						line-height: 1;
					}
				}
			}
		}
	}
	
	.tabset{
		@extend %listreset;
		@include align-reset(top,12,15);
		text-transform: capitalize;
		
		li{
			padding: 0 10px 10px;
			
			&.active{
				a{
					color: $defualt-blue;
					.round{
						background: $defualt-blue;
						border-color: $defualt-blue;
						&:after{ display: block;}
					}	
				}
			}
			a{
				@include align(top);
				color: $black;
				position: relative;
				text-decoration: none;
				transition: color 0.4s ease;
				
				.round{
					@include align(middle);
					@include squar(20px, 20px);
					border: 2px solid $mix-grays;
					margin: -2px 4px 0 0;
					transition: all 0.4s ease;
					content: '';
					position: relative;
					transition: border 0.4s ease;
					
					&:after{
						position: absolute;
						top: 50%;
						left: 50%;
						margin: -5px 0 0 -5px;
						color: $white;
						content: "\e903";
						font-family: 'icomoon';
						@include font(10,10);
						display: none;
					}
				}
			}	
		}
	}
	.calculatedPrice{
		color: $dove-black;
		font-style: italic;
		position: relative;
		padding: 0 0 5px;
	}
	.tab-content{
		overflow: hidden;
		
		.fake-radio{
			@include squar(18px !important ,18px !important);
		}
	}
	.property-add {
		padding: 20px 0 50px;
		overflow: hidden;
		
		@include media('<tablet'){
			padding: 0 0 50px;
		}
		
		input[type="text"],
		input[type="search"],
		input[type="number"],
		input[type="email"]{
			@include font(12,15);
			@include squar(100%, 30px);
			max-width: 260px;
			margin: 0 0 0 10px;
			padding: 6px 10px;
			outline: none;
			
			@include media('<desktop'){
				max-width: 190px;
			}
			
			@include media('<tablet'){
				max-width: inherit;
				margin: 0;
			}
			
			&:focus,
			&:hover{
				border: 1px solid $black;
			}
		}
		button[type="submit"] {
			border: 0;
			padding: 12px 25px;
			display: block;
			text-transform: capitalize;
			width: 250px;
			margin: 20px auto;
			@include font(16,19);
			position: relative;
			z-index: 1;
			border-radius: 5px;
			overflow: hidden;
			background: $green;
			color: $white;
			font-weight: 600;
			outline: none;
			
			[class^="icon"],[class*="icon"]{
				position: absolute;
				top: 50%;
				right: -100px;
				margin: -9px 0 0;
				transition: right 0.4s ease;
				
				&:before{
					font-size: 12px;
					line-height: 1;
				}
			}
			&:after{
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 100%;
				background: $mix-blue;
				z-index: -1;
				content: '';
				transition: all 0.4s ease;
			}
			&:hover{
				&:after{ left: 0;}
				[class^="icon"],[class*="icon"]{
					right: 20px;
				}
			}
		}
		
		select{
			@include align(top);
			height: 30px;
			
			&:focus,
			&:hover{
				border: 1px solid $black;
			}
		}
		
		textarea {
			@include font(12,15);
			margin: 0 0 0 9px;
			@include squar(100%, 120px);
			max-width: 710px;
			resize: none;
			padding: 10px;
			
			@include media('<desktop'){
				max-width: 565px;
			}
			@include media('<tablet'){
				max-width: inherit;
				margin: 0;
			}
			
			&:hover{
				border-color: $black;
			}
		}
		
		.title{
			padding: 2px 0 0;
			float: left;
			text-align: right;
			width: 25%;
			font-weight: 600;
			text-transform: capitalize;
			color: $mix-grays;
			@include font(14,17);
			
			@include media('<tablet'){
				float: none;
				display: block;
				width: 100%;
				text-align: left;
				padding: 0 0 10px;
			}
			
			&:after{
				@include align(top);
				content: '\2217';
				color: $red;
			}
		}
		.input-holder{
			float: left;
			width: 75%;
			
			@include media('<tablet'){
				float: none;
				width: 100%;
				display: block;
			}
		}
		.field-holder{
			overflow: hidden;
		}
		.radio-holder{
			@extend %listreset;
			@include align-reset(top,12,15);
			
			li{
				padding: 0 10px 10px;
				
				label{
					@include align(top);
					cursor: pointer;
					padding: 2px 0 0;
					
					.fake-radio,
					.fake-label {
						@include align(middle);
						
					}
					.fake-radio {
						@include squar(20px, 20px);
						border: 2px solid $mix-grays;
						margin: -2px 0 0;
						position: relative;
						
						&:after{
							position: absolute;
							top: 50%;
							left: 50%;
							margin: -5px 0 0 -5px;
							color: $white;
							content: "\e903";
							font-family: 'icomoon';
							@include font(10,10);
							display: none;
						}
					}
				}
				
				input[type="radio"]{
					visibility: hidden;
					opacity: 0;
					position: fixed;
					top: -999px;
					left: -999px;
					
					&:checked ~ {
						.fake-radio{
							border: 2px solid $defualt-blue;
							background: $defualt-blue;
							
							&:after{ display: block;}
						}
						.fake-label { 
							color: $defualt-blue;
						}
					}
				}
			}
		}
		.layout{
			padding: 20px 0 5px;
			
			&.add{
				max-width: 885px;
				margin: 0 auto;
				
				@include media('<tablet'){
					max-width: inherit;
					width: 100%;
					margin: 0;
				}
			}
			
			.layout-holder{
				float: left;
				width: 50%;
				margin: 0 auto;
				
				@include media('<tablet'){
					float: none;
					display: block;
					width: 100%;
					margin: 0;
					padding: 0 0 20px;
				}
				
				&.add{
					width: 100%;
				}
				
				select{
					margin: 0 0 0 9px;
					height: 30px;
					
					@include media('<tablet'){
						width: 100%;
						margin: 0;
					}
				}
				
				.title{
					max-width: 95px;
					width: inherit;
					float: none;
					@include align(top);
					
					@include media('<tablet'){
						max-width: inherit;
					}
				}
			}
		}
		.tab-content{
			max-width: 490px;
			margin:10px 0 0;
			padding: 0 0 0 20px;
		}
	}
	.form-heading{
		display: block;
		color: $mix-grays;
		text-transform: capitalize;
		@include font(16,19);
		border-bottom: 1px solid #adadad;
		padding: 0 0 5px;
		margin: 30px 0 0;
		
		span{
			@include align(top);
			position: relative;
			
			&:after {
				position: absolute;
				bottom: -6px;
				left: 0;
				right: 0;
				background: $orange;
				height: 2px;
				content: '';
			}
		}
	}
	.feature-block{
		
		.holder{
			overflow: hidden;
			padding: 10px 0 0;
			
			.tag{
				padding: 10px 0;
				max-width: 800px;
				margin: 0 auto;
			}
		}
	}
	.tag{
		display: block;
		text-transform: capitalize;
		@include font(14,18);
		font-weight:600;
	}
	.feature-list{
		@extend %listreset;
		@include align-reset(middle,13,16);
		max-width: 800px;
		margin: 0 auto 20px;
		position: relative;
		padding: 0 0 20px;
		
		&:after{
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 1px;
			content:'';
			background: #e7e7e7; 
		}
		
		li{
			padding: 0 30px 15px;
			
			label{
				text-transform: capitalize;
				cursor: pointer;
				@include align(middle);
			}
			input[type="checkbox"]{
				cursor: pointer;
				@include align(middle);
			}
		}
	}
	.image-uploading-area{
		@extend %listreset;
		@include align-reset(top,14,17);
		text-align: center;
		margin: 30px 0 0;
		
		@include media('<tablet'){
			margin: 30px -5px 0;
		}
		
		li{
			width: 25%;
			position: relative;
			padding: 10px 0;
			
			@include media('<tablet'){
				width: 50%;
				padding: 10px 5px;
			}
			
			&:first-child{
				
				.file-uploader{
					
					&:before{
						position: absolute;
						top: 19px;
						left: -39px;
						content: 'Main Image';
						text-transform: capitalize;
						@include font(13,16);
						padding: 3px;
						transform: rotate(-39deg);
						width: 150px;
						color: $white;
						z-index: 999;
						background: rgba($red, 0.8);
						word-spacing: 1px;
					}
				}
			}
			
			.file-uploader{
					@include squar(250px, 200px);
					margin: 0 auto;
					background: $dove-gray;
					position: relative;
					z-index: 1;
					overflow: hidden;
					
					@include media('<widescreen'){
						@include squar(200px, 200px);
					}
					
					@include media('<desktop'){
						@include squar(150px, 150px);
					}
					
					@include media('<tablet'){
						@include squar(100%, 150px);
					}
					
					&:hover{
						&:after{ color: $green;}
					}
					
					&.after-none{
						&:after{ display: none !important;}
					}
					
					&:after{
						position: absolute;
						top: 50%;
						left: 50%;
						content: "\e900";
						font-family: 'icomoon';
						font-size: 86px;
						line-height: 1;
						z-index: -1;
						margin: -40px 0 0 -40px;
						color: #9da2a8;
						transition: color 0.4s ease;
						
						@include media('<desktop'){
							font-size: 60px;
							margin: -30px 0 0 -30px;
						}
					}
					
					input[type="file"]{
						display: block;
						overflow: hidden;
						border: 0;
						outline: none;
						opacity: 0;
						@include squar(100% !important, 100% !important);
				}
			}
			.picture-name{
				display: block;
				margin: 0 auto;
				max-width: 250px;
				border-width:0 0 2px;
				border-style: solid;
				border-color: $gray;
				height: 50px;
				@include font(14,18);
				transition: border 0.4s ease;
				
				@include media('<widescreen'){
					max-width: 200px;
				}
				
				@include media('<desktop'){
					max-width: 150px;
				}
				
				@include media('<tablet'){
					max-width: inherit;
				}
				
				&.disableInput{
					opacity: 0.5;
					pointer-events: none;
				}
				
				&:hover, &:focus{
					border-width:0 0 3px;
					border-color: $mix-grays;
				} 
			}
			.image-holder{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				border: 0;
				outline: none;
				overflow: hidden;
				z-index: -1;
				opacity: 0;
				transition: z-index 0.9s ease, opacity 0.9s ease; 
				
				&:after{
					position: absolute;
					top: 100%;
					right: 0;
					left: 0;
					bottom: 0;
					background: rgba(255,255,255,0.7);
					content: '';
					transition: top 0.4s ease;
				}
				
				.propertyDocumentCloseBtn{
					position: absolute;
					top: 10px;
					right: 10px;
					color: $black;
					text-decoration: none;
					z-index: 6;
					@include font(30,32);
					opacity: 0;
					visibility: hidden;
					transition: opacity 0.4s ease, visibility 0.4s ease, color 0.4s ease;
					cursor:pointer;
					
					&:hover{
						color: $red;
					}
				}
				
				img{
					@include img-res;
					height: 100%;
					border: 0;
				}
				
				&:hover{
					&:after { top: 0;}
					.propertyDocumentCloseBtn {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
}