
/* ---------------------------------------------------------
   1. Embedded fonts styles
   2. Eric Mayer CSS Reset
   3. General reset
   4. Common site styles
   5. Custom form styles
   6. Styles for responsive breakpoints
   ---------------------------------------------------------*/

$breakpoints: (
  'xs-phone': 320px,
  'phone': 376px,
  'tablet': 768px,
  'desktop': 1024px,
  'widescreen': 1200px,
  'tvscreen':1600px
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';
@import 'vendors/normalize';
@import 'vendors/fonts';

@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/reset';
@import 'base/typography';
@import 'base/forms';
.container { @include container;}
.layout{ overflow: hidden;}
a{ outline: none;}
::-webkit-input-placeholder { /* WebKit browsers */
  color: $mix-black;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: $mix-black;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:$mix-black;
  opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: $mix-black;
}
#wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
}
#header {
	width: 100%;
	display: block;
	position: relative;
	background: $defualt-blue;
	@extend %clearfix;
	
	.layout {
		padding: 10px 0;
	}
	
	.login-register{
		float: right;
		text-decoration: none;
		color: $white;
    background: $light-blue;
    border-radius: 4px;
    padding: 10px 30px;
    transition: background 0.4s ease;
    margin: 10px 0 0;
    
    &:hover{
      background: darken($light-blue, 10%);
    }
	}
}
#main{
  overflow: hidden;
 }
.logo {
	float: left;
	width: 140px;
	
	a{ display: block; }
	
	img { @include img-res;}
}
.login-registarHolder{
  overflow: hidden;
  max-width: 800px;
  padding: 0 0 20px;
  margin: 100px auto 200px;
  
  .tabset{
    @extend %listreset;
    @include align-reset(top,18,21);
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    
    li{
      width: 50%;
      
      &:last-child{
        
        a{
          background: $mix-blue;
          color: $white;
        }
      }
      
      &.active {
        a{
          background: $white;
          color: $black;
          border-bottom: 5px solid $red;
          
           &:after{
            opacity: 1;
            visibility: visible;
          }
        }
      }
      
      a{
        display: block;
        text-decoration: none;
        background: $light-gray;
        border-bottom: 5px solid transparent;
        color: $dove-black;
        padding: 10px;
        transition: all 0.4s ease;
        position: relative;
        
        &:after{
          position: absolute;
          bottom: -23px;
          left: 50%;
          border: 10px solid transparent;
          border-top: 10px solid $red;
          content: '';
          margin: 0 0 0 -5px;
          opacity: 0;
          visibility: hidden;
          transition: opacity 0.4s  ease, visibility 0.4s ease;
        }
        
        &:hover{
          background: $white;
          color: $black;
          border-bottom: 5px solid $red;
        }
      }
    }
  }
  .tab-content {
    overflow: hidden;
    padding: 25px 0 0;
  }
  .registration-form,
  .login-form{
    background:rgba($mix-black, 0.03);
    border-radius: 5px;
    padding: 25px;
    
    .input-holder{
      overflow: hidden;
      padding: 5px;
      position: relative;
      margin: 0 0 20px;
      
      &.full-width{
        float: none;
        display: block;
        width: 100%;
        clear: both;
        overflow: hidden;
      }
      
      textarea,  
      input[type="text"],input[type="tel"], input[type="email"], input[type="password"] {
        border: 0;
        padding: 6px 160px 6px 50px;
        display: block;
        color: $mix-black;
        @include squar(100%, 40px);
        @include font(18,23);
        transition: color 0.4s ease;
        outline: none;
        background: transparent;
        
        @include placeholder{
          color: lighten($mix-black, 20%);
          transition: color 0.5s ease;
        }
        
        &:focus {
          color: darken($mix-black, 20%);
          
          
          @include placeholder{ color: darken($mix-black, 20%);}
          
          ~ .border {
            &:after{
              right: 0;
            }
          }
        }
      }
      textarea {
        resize: none;
        padding: 9px 5px 6px 50px;
        overflow: auto;
        height: 100px;
      }
      > label[class^="icon-"], > label[class*="icon-"]{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 2px;
        content: '';
        color: $mix-grays;
        @include font(20,50);
        width: 50px;
        z-index: 8;
        text-align: center;
        cursor: pointer;
      }
      .border {
        display: block;
        position: relative;
        
        &:before{
          position: absolute;
          left: 0;
          right: 0;
          bottom: -2px;
          height: 1px;
          content: '';
          background: rgba($mix-black,0.4);
        }
        
        &:after{
          position: absolute;
          top: 0;
          left: 0;
          right: 100%;
          bottom: 0;
          content: '';
          height: 2px;
          background: $mix-grays;
          margin: -1px 0 0;
          transition:right 0.2s ease;
        }
      }
      .forgot-pass{
        position: absolute;
        top: 50%;
        right: 0;
        text-decoration: none;
        @include align(top);
        transition: color 0.4s ease;
        margin: -11px 5px 0 0;
        
        &:hover{
          color: $red;
        }
        
        [class^="icon-"], [class*="icon-"] {
          @include align(middle);
          margin: -2px 0 0;
        }
      }
    }
    button[type="submit"]{
      border: 0;
      background: $green;
      text-align: center;
      color: $white;
      font-weight: 600;
      display: block;
      width: 100%;
      padding: 15px 20px;
      border-radius: 2px;
      @include font(20,24);
      transition: background 0.4s ease;
      
      [class^="icon-"], [class*="icon-"] {
        @include align(middle);
        margin: -2px 0 0;
        position: relative;
        right: 0;
        transition: right 0.4s ease;
      }
      
      &:hover{
        background: darken( $green, 5%);
        
        [class^="icon-"], [class*="icon-"] {
           right: -10px;
        }
      }
    }
    .agent-check {
      float: left;
      margin: 25px 50px 0;
      position: relative;
      z-index: 60;
      
      &:after{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 55;
        content: '';
      }
      
      .hidden-checkfield{
        visibility: visible;
        top: 0;
        left: 0;
        opacity: 0;
        position: fixed;
        
        &:checked ~ {
          
          .fake-checkbox{
            background: #00e359;
            box-shadow: none;
            
            .fake-button {
              left: 48%;
              background: $white;
              box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 162, 63, 1);
            }
          }
          .fake-label{
            color: $black;
          }
        }
      }
      .fake-checkbox{
        @include squar(40px, 20px);
        border-radius: 20px;
        float: left;
        background: $light-gray;
        box-shadow: inset 0 0 5px -2px rgba(0,0,0,0.5);
        position: relative;
        transition: background 0.4s ease;
        z-index: -1;
        
        .fake-button {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          width: 21px;
          border-radius: 100%;
          background: $light-gray;
          border: 1px solid rgba($mix-black, 0.2);
          content: '';
          transition: left 0.4s cubic-bezier(0.54, 1.85, 0.5, 1);
          cursor: pointer;
        }
      }
      .fake-label {
        float: left;
        cursor: pointer;
        max-width: 200px;
        padding: 0 0 0 10px;
        position: relative;
        z-index: -1;
        color: $dove-black;
      }
    }
    h1 {
      display: block;
      margin: 10px 0;
      clear: both;
      padding: 8px 0;
      text-align: center;
      @include font(18,21);
      color: $black;
      background: lighten($light-gray,5%);
      font-weight: 600;
    }
    .terms-listing{
      @extend %listreset;
      @include font(13,16);
      color: $dove-black;
      padding: 5px;
      
      li{
        display: block;
        padding: 0 0 10px;
        overflow: hidden;
        
        a{
          color: $dove-black;
          @include align(top);
        }
        input[type="checkbox"]{
          float: left;
          margin: 4px 0 0 ;
        }
        label{
          float: left;
          padding: 0 0 0 10px;
        }
      }
    }
    .company-logo{
      @include squar(70px,70px);
      overflow: hidden;
      border-radius: 100%;
      margin: 0  auto;
      position: relative;
      background: $light-gray;
      z-index: 6;
      
      &.hover{
        &:hover{
          .delete{ display: block;}
        }
      }
      
      .picture-holder{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @include squar(100%,100%);
        display: none;
        border-radius: 100%;
       
        img{
          @include img-res;
          height: 100%;
        }
      }
      
      .delete{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255,255,255,0.5);
        @include font(40,40);
        padding:14px 16px;
        color: $red;
        cursor: pointer;
        display: none;
        
         span{ display: block;}
      }
      
      .name-tag {
        position: absolute;
        top: 10px;
        left: 0;
        right: 0;
        text-align: center;
        z-index: -1;
        @include font(12,15);
        color: $mix-black;
      }
      
      input[type="file"]{
        @include squar(100%, 100%);
        opacity: 0;
      }
    }
  }
  .registration-form{
    overflow: hidden;
    
    &.agent-info{
      .agent-information {
        min-height: 545px;
        opacity: 1;
        height: auto;
      }
    }
    
    .input-holder{
      float: left;
      width: 50%;
      
      input[type="text"],input[type="tel"], input[type="email"], input[type="password"] {  padding:6px 10px 6px 50px;}
    }
  }
  .agent-information {
    display: block;
    width: 100%;
    overflow: hidden;
    clear: left;
    min-height: 0;
    opacity: 0;
    height: 0;
    transition: min-height 0.5s cubic-bezier(0.05, 1.6, 0.1, 1), opacity 0.5s ease;
  }
}